.searchRecomendations {
    margin-top: 0px;
}

.title {
    font-family: Raleway;
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer; 
    color: white;
}
@media (max-width: 991px) {
    .title {
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 18px;
    }
    
}