.filter {
    /* margin-top: 80px; */
    max-height: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: max-height 400ms;
}

.filterSection {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.filterActive {
    max-height: 300px;
    width: 100%;
    /* overflow: visible; */
}

.sectionName {
    color: rgba(255, 255, 255, 0.363);
    font-size: 25px;
    font-weight: 250;
}

.sectionOptions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.sectionOptions {
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .filter {
        margin-top: 50px;
    }
    .filterSection {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 991px) {
    .filter {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .filterSection {
        width: 100%;
        height: 150px;
    }
    .filterSection:last-child {
        grid-column: span 2;

    }
    .sectionOptions {
        margin-top: 15px;
    }
    .sectionName {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .filter {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .filterSection {
        width: 100%;
        height: auto;
    }
    .filterSection:last-of-type {
        grid-column: span 1;
        margin-bottom: 50px;
    }
    .sectionName {
        font-size: 18px;
    }
    .sectionOptions {
        margin-top: 10px;
    }

    .filterActive {
        max-height: 400px;
    }
}