.popular {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

@media (max-width: 1200px) {
    .popular {
        margin-top: 50px;
    }
    .title {
        font-size: 20px;
    }
}