.movieSlider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 330px;
  display: flex;
  align-items: center;
}

.swiper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 330px;
  overflow: visible !important;
  margin-bottom: 20px;
}

.sliderContainer {
  display: flex;
  align-items: center;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  width: 300px;

}

.movieItem {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}

.buttonPrev,
.buttonNext {
  color: #fff;
  position: absolute;
  top: 50%;
  height: 120%;
  width: 70px;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 8;
}

.btnDisabled {
  display: none;
}

.btn {
  transition: 200ms ease;
}

.buttonPrev:hover .btn,
.buttonNext:hover .btn {
  transform: scale(1.2);
}

.buttonPrev {
  left: 0;
  background: linear-gradient(to right, #141414, transparent);
}

.buttonNext {
  right: 0;
  background: linear-gradient(to left, #141414, transparent);
}

.cardLink {
  width: 200px;
  height: 300px;
}

@media (max-width: 1200px) {
    .cardLink {
        width: 175px;
        height: 262px;
    }
    .movieSlider {
        height: 300px;
    }
}

@media (max-width: 991px) {
  .cardLink {
    width: 150px;
    height: 225px;
  }
  .movieSlider {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .cardLink {
    width: 120px;
    height: 180px;
  }
  .movieSlider {
    height: 200px;
  }
  .buttonPrev,
.buttonNext {
    width: 50px;
    height: 100%;
    font-size: 16px;
  }
  .swiperSlide {
    width: 120px;
  }
  .swiper {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .cardLink {
    width: 110px;
    height: 165px;
  }
  .movieSlider {
    height: 180px;
  }
  .buttonPrev,
.buttonNext {
    width: 40px;
    height: 100%;
    font-size: 14px;
  }
}