.wrapper {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 20px 0;
}

.title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}