.actorInfo {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
    gap: 5px;
    border: 1px solid #fff;
    border-radius: 25px;
}

.actorPhoto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.actorName {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 1200px) {
    .actorInfo {
        padding-right: 10px;
    }

    .actorPhoto {
        width: 40px;
        height: 40px;
    }

    .actorName {
        font-size: 14px;
    }   
}

@media (max-width: 991px) {
    .actorInfo {
        padding-right: 5px;
    }

    .actorPhoto {
        width: 35px;
        height: 35px;
    }

    .actorName {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .actorInfo {
        gap: 3px;
    }

    .actorPhoto {
        width: 30px;
        height: 30px;
    }

    .actorName {
        font-size: 12px;
    }
}