.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    justify-content: center;
    gap: 15px;
}
@media (max-width: 1200px) {
    .movieList {
        grid-template-columns: repeat(auto-fill, minmax(175px, 175px));
        gap: 10px;
    }
    
}