.navbar {
    background: linear-gradient(180deg, rgba(20,20,20,0.4739145658263305) 24%, rgba(20,20,20,0.2666316526610645) 61%, rgba(255,255,255,0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: background 300ms;
}

.scrolled {
    background: #141414;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    justify-self: start;
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
}

.navBarList {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 70px;
}

.navBarListMobile {
    display: none;
}

.navBarLink {
    color: rgba(255, 255, 255, 0.654);
    font-size: 22px;
    transition: color 300ms;
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchIcon {
    transform: translateY(4px);
}

.navBarLink:hover {
    color: rgb(255, 255, 255);
}

.navBarLinkActive {
    color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
    .wrapper {
        justify-content: space-between;
    }
    .logo {
        font-size: 20px;
    }
    .navBarList {
        position: inherit;
        left: 0;
        transform: translate(0,0);
        gap: 50px;
    }
    .navBarLink {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .navBarList {
        display: none;
    }
    .navBarListMobile {
        display: block;
    }
}