.navbar {
    background: linear-gradient(180deg, rgba(20,20,20,0.4739145658263305) 24%, rgba(20,20,20,0.2666316526610645) 61%, rgba(255,255,255,0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: background 300ms;
    z-index: 110;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.5);

}

.scrolled {
    background: #141414;
    z-index: 10;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    justify-self: start;
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
    z-index: 10;
}

.navBarList {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 70px;
}

.navBarListMobile {
    display: none;
}

.navBarLink {
    color: rgba(255, 255, 255, 0.654);
    font-size: 22px;
    transition: color 300ms;
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchIcon {
    transform: translateY(4px);
}

.navBarLink:hover {
    color: rgb(255, 255, 255);
}

.navBarLinkActive {
    color: rgb(255, 255, 255);
}

.authBtns {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
}

.authBtn {
    outline: none;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    transition: 300ms all;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.219);
}

.authBtn:first-child {
    background: white;
    color: black;
}

.authBtn:last-child {
    background: linear-gradient(135deg, #33ad6e, #502db3);
}

.authBtn:hover {
    transform: translateY(-3px);
}

.userInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    right: 0;
}

.userName {
    font-size: 16px;
    font-weight: 500;
}

.burgerMenu {
    padding: 0 0 0 28px;
    position: absolute;
    width: 30%;
    background: #141414;
    height: 100vh;
    z-index: 100;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.burgerTitle {
    font-size: 25px;
    margin-top: 20px;
}

.burgerList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.burgerOverlay {
    position: absolute;
    top: 70;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 9;
}

@media (max-width: 1200px) {
    .wrapper {
        justify-content: space-between;
    }
    .logo {
        font-size: 20px;
    }
    .navBarList {
        position: inherit;
        left: 0;
        transform: translate(0,0);
        gap: 50px;
    }
    .navBarLink {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .navBarList {
        display: none;
    }
    .navBarListMobile {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
    }

    .navBarLink {
        font-size: 25px;
        transform: translateY(-4px);
    }
}

@media (max-width: 767px) {
    .navBarListMobile {
        gap: 20px;
    }
    .navBarLink {
        font-size: 20px;
    }
    .burgerMenu {
        padding: 0 20px;
    }
    .burgerTitle {
        font-size: 20px;
    }
    .searchLink {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .logo {
        font-size: 20px;
    }
    .burgerMenu {
        width: 60%;
    }
    .burgerList {
        gap: 30px;
    }
    .burgerTitle {
        font-size: 27px;
    }
    .navBarLink {
        font-size: 25px;
    }
    .searchLink {
        font-size: 22px;
    }
    .wrapper {
        padding: 20px 0;
    }
}