.emptySearchTitle {
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.479);
    /* margin-bottom: 40vh; */
}

.searchPage {
    display: flex;
    height: 95vh;;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .emptySearchTitle {
        font-size: 24px;
    }
    
}