.main {
    box-shadow: 0 0 10px black;
    padding: 50px 0 70px 0;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.infoItemTitle {
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.infoItemValue {
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.recomendations {
    margin-top: 50px;
}

.recomendationsText {
    margin-bottom: 30px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    transition: 100ms;
}

.trailer {
    margin-top: 50px;
    overflow: hidden;
    z-index: -1000;
}

.trailerVideo {
    width: 100%;
    border-radius: 10px;
    height: 600px;
}
